<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Yokel! Towers : Home - Please select a lounge to play in.</title>

    <link th:rel="stylesheet" th:href="@{assets/bootstrap4-toggle/bootstrap4-toggle.min.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script type="text/javascript">
                                function openLink(id, url) {
                                jQuery.get('game.html', function(data) {
                                if(data == 'goToGame') {
                                window.open(url);
                                }
                                }, 'text');
                                }

</script>
</head>
<body>
<div>
    <table border="1" class="table table-striped table-responsive-md" style="width:100%">
        <tr>
            <td colspan="2"><p th:text="'WaHoo! Games : ' + ${roomTitle}"></p></td>
        </tr>
        <tr>
            <td>
                <table style="width: 100%">
                    <tr>
                        <td style="width: 6em">
                            <table style="width: 100%;" border="1" class="table table-striped table-responsive-md">
                                <tr><td style="width: 100%;"><a th:href="@{#}" class="btn btn-primary">Play New</a></td></tr>
                                <tr><td>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    Create Table
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                ...
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </td></tr>
                            </table>
                        </td>
                        <td>
                            <table style="width: 100%">
                                <tr>
                                    <td><p>Table Widget</p></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <form:form action="#" method="post">
                                <input type = "submit" name = "playNew" value="Play New"/>
                            </form:form>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: 100%">
                    <tr>
                        <td style="width: 6em">
                            <table style="width: 100%;" border="1" class="table table-striped table-responsive-md">
                                <tr>
                                    <td><p>Ratings</p></td>
                                </tr>
                                <tr>
                                    <td><p>Options</p></td>
                                </tr>
                                <tr>
                                    <td><a th:href="@{/home}" class="btn btn-primary">Exit Room</a></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table style="width: 100%">
                                <tr>
                                    <td><p>Connected to games server as....</p></td>
                                </tr>
                                <tr>
                                    <td><p>Chat Widget</p></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table style="width: 100%">
                                <tr>
                                    <td><p>Player Widget</p></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>


</body>


